<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do List</title>
</head>
<body>
  <h1>Home page</h1>
  <h4>BOARD</h4>
  <table class="table" style = "word-break:break-all" style="table-layout: fixed">
      <thread>
          <th>ID</th>
          <th>TODO</th>
          <th>DATE</th>
      </thread>
      {% for row in testDataHtml %}
      <tr>
          <!-- <td>{{ loop.index }}</td> -->
          <td>{{ row.id }}</td>
          <td>{{ row.job }}</td>
          <td>{{ row.date }}</td>
      </tr>
      {% endfor %}
  <!-- This is Accepted Data : {{testDataHtml}} -->
</body>
</html>